#odin {
    text-align: center;
    background-color:  rgb(67, 51, 134);
    color: white;
    font-size: 40px;
    margin-top: 0;
    padding: 18px;
}

.header {
    font-size: 40px;
}

.center li {
    display: inline;
    padding: 20px;
    font-size: 20px;
    border:solid black;
    background-color:  rgb(67, 51, 134);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bottom {
    margin-bottom: 100px;
}

body{
    margin-right: 30%;
    margin-left: 30%;
}

img {
    width: 600px;
    height: 400px;
}

li a {
    color: white;
}

h1,h2,h3 {
    background-color: rgb(67, 51, 134);
    color: white;
    padding: 10px;
    text-align: center;
}

ol, ul, p {
    text-align: center;
    list-style-position: inside;
}

